{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>
    <!-- Pasek nawigacyjny -->
    <header class="navbar">
        <div class="navbar-title">
            <h1>Prognoza Pogody</h1>
        </div>
        <div class="navbar-image">
            <img src="{% static 'images/weather_analizer.jpg' %}" alt="Weather Icon">
        </div>
    </header>

    <!-- Główna zawartość strony -->
    <main class="main-content">
        <h2>Wybierz źródło prognozy pogody:</h2>
        <ol class="links-list">
            <li><a href="{% url 'analyzer:windy' %}">Windy</a></li>
            <li><a href="{% url 'analyzer:open_weather_map' %}">Open Weather Map</a></li>
            <li><a href="{% url 'analyzer:weather_api' %}">Weather API</a></li>
            <li><a href="{% url 'analyzer:python_weather' %}">Python Weather</a></li>
            <li><a href="{% url 'analyzer:open-meteo' %}">Open-meteo</a></li>
            <li><a href="{% url 'analyzer:weather-bit' %}">Weather-bit</a></li>
            <li><a href="{% url 'analyzer:virtualcrossing' %}">Virtual Crossing</a></li>
            <li><a href="{% url 'analyzer:index' %}">Początek</a></li>
        </ol>
    </main>

    <!-- Stopka -->
    <footer class="footer">
        <p>© 2025 Prognoza Pogody - Centrum informacji pogodowych</p>
    </footer>
</body>
</html>
{% endblock content %}
