{% extends 'base.html' %}
{% block content %}
<h3>Prognoza pogody co godzinę (maksymalnie na 3 dni)</h3>

<table border="1">
    <thead>
        <tr>
            <th>Nr próby</th>
            <th>Czas</th>
            <th>Temperatura (°C)</th>
            <th>Opady (mm)</th>
            <th>Wilgotność (%)</th>
            <th>Stan pogody</th>
            <th>Prędkość wiatru (km/h)</th>
            <th>Kierunek wiatru</th>
            <th>Ciśnienie (hPa)</th>
            <th>Indeks UV</th>
        </tr>
    </thead>
    <tbody>
        {% for hour in hourly_forecast_data %}
        <tr>
            <td>{{ hour.probe }}</td>
            <td>{{ hour.time }}</td>
            <td>{{ hour.temp }}</td>
            <td>{{ hour.precipitation }}</td>
            <td>{{ hour.humidity }}</td>
            <td>{{ hour.condition }}</td>
            <td>{{ hour.wind_speed }}</td>
            <td>{{ hour.wind_direction }}</td>
            <td>{{ hour.pressure }}</td>
            <td>{{ hour.uv }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'analyzer:index' %}">Powrót do strony głównej</a>
{% endblock content %}
