{% extends 'base.html' %}
{% block content %}
<h3>Weatherbit Forecast</h3>

<table border="1" style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Numer pomiaru</th>
            <th>Data i czas</th>
            <th>Temperatura (°C)</th>
            <th>Opady (mm)</th>
            <th>Ciśnienie (hPa)</th>
            <th>Zachmurzenie (%)</th>
            <th>Prędkość wiatru (m/s)</th>
            <th>Indeks UV</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in forecast_data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ entry.datetime }}</td>
            <td>{{ entry.temp }}</td>
            <td>{{ entry.precip }}</td>
            <td>{{ entry.pres }}</td>
            <td>{{ entry.clouds }}</td>
            <td>{{ entry.wind_spd }}</td>
            <td>{{ entry.uv }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'analyzer:index' %}">Początek</a>
{% endblock content %}
